{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Colors</h1>

    <table>
        {% for color in object_list %}
            {% if forloop.counter0|divisibleby:"14" %}
                </tr>
            {% elif forloop.counter0|divisibleby:"14" == 1 %}
                <tr>
            {% endif %}
            <td><div class="color_zoom" style="background-color:#{{ color.rgb }}">{{ color.name }}</div></td>
        {% endfor %}
    </table>

    <style>
        .color_zoom {
            padding: 0px;
            transition: transform .2s; /* Animation */
            width: 85px;
            height: 85px;
            margin: 0 auto;
        }

        .color_zoom:hover {
            -ms-transform: scale(5.0); /* IE 9 */
            -webkit-transform: scale(5.0); /* Safari 3-8 */
            transform: scale(5.0);
        }
    </style>

{% endblock %}
