{% extends 'base.html' %}

{% load static %}

{% load render_table from django_tables2 %}

{% block content %}
  <div class="userpart-entry">
    <p>{{ userpart }}</p>
  </div>

  <div class="inventory-list">
    <h1>Inventory List</h1>
    {% for inventory in inventory_list %}
      <h2><a href="{% url 'inventory_detail' userpart.pk inventory.pk %}">{{ inventory }}</a></h2>
    {% endfor %}
  </div>
  {% render_table inventory_list 'django_tables2/bootstrap.html' %}


  <p><a href="{% url 'userpart_colors' userpart.pk %}">+ Manage Colors</a></p>
  <p><a href="{% url 'inventory_create' userpart.pk %}">+ New Part Color</a></p>
  <p><a href="{% url 'userpart_edit' userpart.pk %}">+ Edit User Part</a></p>
  <p><a href="{% url 'userpart_delete' userpart.pk %}">+ Delete User Part</a></p>
  <p><a href="{% url 'userpart_list' %}">+ Userparts</a></p>

  <img src ="{% static 'inventory/PartColours/parts_-1/' %}{{ userpart.part.part_num }}.png" alt="Part Picture" height="500" width="500">

{% endblock content %}
