{% extends "base.html" %}

{% load bootstrap4 %}

{% load render_table from django_tables2 %}

{% block content %}
    <h2>User Parts</h2>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'userpart_create' %}">+ New Userpart</h1>
            <h1><a href="{% url 'userpart_export' %}">+ Export Userparts</h1>
        </div>
        <div class="nav-left">
            <form action="{% url "userpart_import" %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
            {% csrf_token %}
                <div class="form-group">
                    <h1><a>+ Import Userparts</h1>
                    <!--
                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">+ Import Userparts</label>
                    -->
                    <div class="col-md-8">
                        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                        <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                    </div> 
                </div>
            </form>
        </div>
    </header>
    <body>
        {% if filter %}
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
            </form>
        {% endif %}

        {% render_table table 'django_tables2/bootstrap.html' %}
    </body>

    <!-- Hover Zooming as per https://www.w3schools.com/howto/howto_css_zoom_hover.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .part_image_zoom {
        transition:0.5s ease-in-out;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .part_image_zoom:active {
        -ms-transform: scale(15.0); /* IE 9 */
        -webkit-transform: scale(15.0); /* Safari 3-8 */
        transform: scale(15.0);
    }
    </style>

{% endblock %}

