{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
    <h1>Select the Part to add</h1>

    {% load render_table from django_tables2 %}

    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    {% endif %}

    <form action="" method="post" value="save_data">{% csrf_token %}
      {% render_table table 'django_tables2/bootstrap.html' %}
      <input type="submit" value="Add Part" />
    </form>

    <p><a href="{% url 'userpart_list' %}">+ Part List</a></p>

    <!-- Hover Zooming as per https://www.w3schools.com/howto/howto_css_zoom_hover.asp -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .part_image_zoom {
        transition:0.5s ease-in-out;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    .part_image_zoom:active {
        -ms-transform: scale(15.0); /* IE 9 */
        -webkit-transform: scale(15.0); /* Safari 3-8 */
        transform: scale(15.0);
    }
    </style>

{% endblock content %}
