{% extends 'base.html' %}

{% block content %}
  <div class="userpart-entry">
    <p>{{ userpart }}</p>
  </div>

  <div class="inventory-list">
    <h1>Inventory List</h1>
    {% for inventory in inventory_list %}
      <h2><a href="{% url 'inventory_detail' userpart.pk inventory.pk %}">{{ inventory }}</a></h2>
    {% endfor %}
  </div>

  <p><a href="{% url 'inventory_create' userpart.pk %}">+ New Part Color</a></p>
  <p><a href="{% url 'userpart_edit' userpart.pk %}">+ Edit User Part</a></p>
  <p><a href="{% url 'userpart_delete' userpart.pk %}">+ Delete User Part</a></p>
  <p><a href="{% url 'userpart_list' %}">+ Userparts</a></p>

{% endblock content %}
